body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/images/music-notes-bg.jpg');
    background-color: var(--navy);
    /* fallback background color if image fails to load */

    font-family: 'ABeeZee', sans-serif;
    text-align: center;

    display: flex;
    flex-direction: column;

    height: 100vh;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

.hide-content {
    display: none;
}

/* ---------- Color Variables ---------- */
:root {
    --red: #F94144;
    /* Red Salsa */
    --dark-red: #F81215;
    /* Red */
    --pink: #F67584;
    /* Ultra Red */
    --dark-pink: #F45265;
    /* Radical Red */
    --orange: #FDA716;
    /* Orange Peel*/
    --dark-orange: #FD990D;
    /* Yellow Orange Color Wheel */
    --yellow: #F9C74F;
    /* Maize Crayola */
    --dark-yellow: #F7B926;
    /* Selective Yellow */
    --green: #7DBE5B;
    /* Mantis */
    --dark-green: #6BAF46;
    /* Green RYB */
    --blue: #43AEC1;
    /*Pacific Blue */
    --dark-blue: #3897A8;
    /* Blue Munsell */
    --navy: #264653;
    /* Charcoal */
    --dark-navy: #1A2F38;
    /* Gunmetal */
}

/* ---------- End Color Variables ---------- */

/* ---------- Navigation Icons ---------- */
.nav-icon {
    color: #fff;
    font-size: 2rem;
    padding: 25px;
}

/* ---------- End Navigation Icons ---------- */


/* ---------- Content Container ---------- */
.content-center {
    margin-top: auto;
    margin-bottom: auto;
}

.content-container {
    background-color: #fff;
    color: var(--dark-navy);
    border-radius: 20px;
    border: 5px solid var(--dark-navy);
    box-shadow: 0 5px var(--dark-navy);
    margin: 10px 20px;
    padding: 30px;
}

.content-container p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* ---------- End Content Container ---------- */

/* ---------- Buttons ---------- */
.button {
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
}

.button:focus {
    outline: none;
}

.answer-1 {
    background-color: var(--red);
    box-shadow: 0 5px var(--dark-red);
}

.answer-2 {
    background-color: var(--orange);
    box-shadow: 0 5px var(--dark-orange);
}

.answer-3 {
    background-color: var(--green);
    box-shadow: 0 5px var(--dark-green);
}

.answer-4 {
    background-color: var(--blue);
    box-shadow: 0 5px var(--dark-blue);
}

.start-button {
    margin-top: 10px;
    background-color: var(--yellow);
    box-shadow: 0 5px var(--dark-yellow);
}

.submit-button {
    margin-top: 10px;
    background-color: var(--pink);
    box-shadow: 0 5px var(--dark-pink);
}

/* Code below is from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3 
to add a simple button animation */
.button:hover {
    box-shadow: none;
    transform: translateY(5px);
}

/* Button Hover States */
.answer-1:hover {
    background-color: var(--dark-red);
}

.answer-2:hover {
    background-color: var(--dark-orange);
}

.answer-3:hover {
    background-color: var(--dark-green);
}

.answer-4:hover {
    background-color: var(--dark-blue);
}

.start-button:hover {
    background-color: var(--dark-yellow);
}

.submit-button:hover {
    background-color: var(--dark-pink);
}

/* ---------- End Buttons ---------- */

/* ---------- Contact Form ---------- */
.contact-form p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.form-group label {
    font-size: 1.2rem;
    margin-top: 10px;
}

.form-group textarea {
    height: 150px;
    resize: none;
}

.form-group input {
    height: 50px;
}

::placeholder {
    font-size: 0.9rem;
    text-align: center;
}

/* ---------- End Contact Form ---------- */

/* ---------- Footer ---------- */
.site-owner {
    color: #fff;
}

/* ---------- End Footer ---------- */