body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/images/music-notes-bg.jpg');
    background-color: #264653;
    /* fallback background color if image fails to load */

    font-family: 'ABeeZee', sans-serif;
    text-align: center;

    display: flex;
    flex-direction: column;

    height: 100vh;
}

/* ---------- Color Variables ---------- */
:root {
    --red: #F94144;
    /* Red Salsa */
    --dark-red: #F81215;
    /* Red */
    --orange: #FDA716;
    /* Orange Peel*/
    --dark-orange: #FD990D;
    /* Yellow Orange Color Wheel */
    --green: #7DBE5B;
    /* Mantis */
    --dark-green: #6BAF46;
    /* Green RYB */
    --blue: #43AEC1;
    /*Pacific Blue */
    --dark-blue: #3897A8;
    /* Blue Munsell */
}

/* ---------- End Color Variables ---------- */

/* ---------- Navigation Icons ---------- */
.nav-icon {
    color: #fff;
    font-size: 2rem;
    padding: 20px;
}

/* ---------- End Navigation Icons ---------- */


/* ---------- Content Container ---------- */
.content-container {
    background-color: #fff;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.content-center {
    margin-top: auto;
    margin-bottom: auto;
}

/* ---------- End Content Container ---------- */

/* ---------- Buttons ---------- */
.button {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 10px;
    border: none;
}

.button:focus {
    outline: none;
}

.answer-1 {
    background-color: var(--red);
    box-shadow: 0 5px 0 var(--dark-red);
}

.answer-2 {
    background-color: var(--orange);
    box-shadow: 0 5px 0 var(--dark-orange);
}

.answer-3 {
    background-color: var(--green);
    box-shadow: 0 5px 0 var(--dark-green);
}

.answer-4 {
    background-color: var(--blue);
    box-shadow: 0 5px 0 var(--dark-blue);
}

/* Code below is from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3 
to add a simple button animation */
.button:hover {
    box-shadow: none;
    transform: translateY(5px);
}

/* Button Hover States */
.answer-1:hover {
    background-color: var(--dark-red);
}

.answer-2:hover {
    background-color: var(--dark-orange);
}

.answer-3:hover {
    background-color: var(--dark-green);
}

.answer-4:hover {
    background-color: var(--dark-blue);
}

/* ---------- End Buttons ---------- */

/* ---------- Footer ---------- */
.site-owner {
    color: #fff;
}

/* ---------- End Footer ---------- */